<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="46677Stratos.ofobeta" Publisher="CN=013C89DA-5E16-4848-946A-3730B9DEC9B8" Version="0.0.6.0" />
  <mp:PhoneIdentity PhoneProductId="d22303aa-c133-41ea-ab10-e70bcbbf9488" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ofo共享单车beta</DisplayName>
    <PublisherDisplayName>StratosBlue</PublisherDisplayName>
    <Logo>Assets\appicon\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="OfoLight.App">
      <uap:VisualElements DisplayName="ofo共享单车beta" Square150x150Logo="Assets\appicon\Square150x150Logo.png" Square44x44Logo="Assets\appicon\Square44x44Logo.png" Description="ofo共享单车第三方客户端" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\appicon\Wide310x150Logo.png" Square310x310Logo="Assets\appicon\LargeTile.png" Square71x71Logo="Assets\appicon\SmallTile.png" ShortName="ofo">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\appicon\SplashScreen.png" BackgroundColor="white" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>